/* Enter your custom styles here */
.sapThemeCriticalText
{
	color: 	#ff0000 !important;
}
.pageHeaderFont{
	font-family:Arial,Helvetica,sans-serif;
	color:#666666;
	font-weight:normal;
	font-size:1rem;
}
.boldFont{
	font-weight:bold;
}
.noWrap{
	white-space:nowrap;
	display:inline-block;
}